.container {
  width: 60%;
  margin: 4rem auto 0;
  font-family: 'Nunito', sans-serif;
  color: #191A19;
}

.slick-prev::before, .slick-next::before {
  color: #1E5128;
}

.carousel-bg-image {
  background-color: #1E5128;
}

.carousel-image {
  margin: 0 auto;
  /* width: 100%;
  max-width: 900px; */
}

.custom-dot {
  background-color: red;
}

.description, .contact {
  margin-top: 3rem;
}

.contact {
  background-color: #D8E9A8;
  border-radius: 6px;
  padding: 1rem;
}

.content {
  display: flex;
  align-items: center;
}

.advertiser-info p{
  margin-left: 20px;
}