<div class="container">
  <div v-if="isLoading">
    Carregando detalhes do anúncio...
  </div>
  <div v-else>
    <div class="image-container">
      <VueSlickCarousel :="settings">
        <div class="carousel-bg-image" v-for="media in listing.medias">
          <img class="carousel-image" :src="media.url" alt="">
        </div>

        <template #prevArrow="arrowOption">
          <div class="custom-arrow">
            {{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
          </div>
        </template>

        <template #nextArrow="arrowOption">
          <div class="custom-arrow">
            {{ arrowOption.currentSlide }}/{{ arrowOption.slideCount }}
          </div>
        </template>

        <!-- <template #customPaging="page">
          <div class="custom-dot">
            {{ page }}
          </div>
        </template> -->
      </VueSlickCarousel>
    </div>
    <div class="description">
      <h2>Descrição</h2>
      <p>Preço: {{ listing.listing.pricingInfos[0].price }}</p>
      <p>Condomínio: {{ listing.listing.pricingInfos[0].monthlyCondoFee }}</p>
      <p>IPTU: {{ listing.listing.pricingInfos[0].yearlyIptu }}</p>
      <p>{{ listing.listing.pricingInfos[0].businessType }}</p>
      <p v-html="listing.listing.description"></p>
      <p>{{ listing.listing.searchableAmenities }}</p>
    </div>
    <div class="contact">
      <h2>Contato</h2>
      <img :src="advertiserLogoUrl" alt="">
      <p>Anunciante: {{ listing.account.name }}</p>
      <p>Número do anunciante: {{ listing.listing.advertiserContact.phones[0] }}</p>
      <p v-if="listing.listing.advertiserContact.whatsappNumber">Whatsapp: {{ listing.listing.advertiserContact.whatsappNumber }}</p>
    </div>
  </div>
</div>