.container {
  width: 60%;
  height: 350px;
  margin: 1rem auto;
  border: 1px solid #e2e2e2;
  border-radius: 6px;
  background: rgba(255, 255, 255, 0.9);
  overflow: hidden;

  font-family: 'Nunito', sans-serif;
  font-weight: 300;
  color: #191A19;
}

.container:hover {
  box-shadow: 0 10px 20px 1px #e2e2e2;
  transition: ease-in .2s;
}

.advertiser-details {
  position: relative;
  float: left;
  width: 50%;
  height: 100%;
  padding: 30px;
  text-align: left;
  overflow: hidden;
}

.title {
  display: inline-block;
  font-size: 32px;
  line-height: 80%;
  margin: 0;
}

.location-info {
  color: #1E5128;
}

.advertiser-details > p {
  font-size: 24px;
  height: 38%;
  overflow: hidden;
}

.control {
  position: absolute;
  bottom: 20%;
  left: 30%;
}

.btn {
  padding: 10px;
  margin: 0;
  background: #D8E9A8;
  color: #4E9F3D;
  border: none;
  border-radius: 6px;

  cursor: pointer;
  transform: translateY(0px);
  transition: 0.3s linear;
}

.btn:hover {
  transform: translateY(-6px);
  background: #4E9F3D;
  color: #D8E9A8;
}

.advertiser-image {
  position: relative;
  width: 50%;
  height: 100%;
  overflow: hidden;
  transition: all 0.3s ease-out;
}

.img {
  width: 100%;
  height: 100%;
}

.info {
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 0;
  color: #191A19;
  line-height: 1.8;
  cursor: no-drop;
  transition: all 0.3s ease-out;
  transform: translateY(100%);
}

.advertiser-image:hover .info {
  transform: translateY(0);
}

.info ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
}

.info ul li {
  display: flex;
  align-items: center;
  justify-content: center;

  background-color: #D8E9A8;
  width: 40px;
  height: 40px;
  border-radius: 50px;
  margin-left: 10px;
  transition: 0.3s ease;
}

/* .info ul li:hover {} */

.icon {
  color: #191A19;
}