<div class="container">
  <div class="advertiser-details">
    <h1 class="title">{{ listing["listing"]["title"] }}</h1>
    <span>{{ listing["listing"]["originalAddress"]["locationId"] }}</span>
    <p class="information">{{ listing["listing"]["description"] }}</p>

    <div class="control">
      <button @click="goToDetailPage(listing['listing']['id'])" class="btn">Saiba mais</button>
    </div>
  </div>
  <div class="advertiser-image">
    <img
      class="img"
      :src="getFirstMediasElementURL"
      alt=""
    />

    <div class="info">
      <h2 class="sub-title">Características do imóvel</h2>
      <ul>
        <li>
          <strong>Quartos : </strong>{{ listing["listing"]["bedrooms"][0] }}
        </li>
        <li>
          <strong>Banheiros : </strong
          >{{ listing["listing"]["bathrooms"][0] }}
        </li>
        <li>
          <strong>Suítes: </strong>{{ listing["listing"]["suites"][0] }}
        </li>
        <li>
          <strong>Garagem: </strong
          >{{ listing["listing"]["parkingSpaces"][0] }}
        </li>
      </ul>
    </div>
  </div>
</div>