.container {
  width: 70vw;
  margin: 0 auto;
  padding: 6rem 0 0 0;

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.title {
  color: #D8E9A8;
  text-align: center;
  font-family: 'Nunito', sans-serif;
  font-size: 36px;
  font-weight: 300;
}

input {
  width: 100%;
  margin: .5rem 0;
  padding: 10px 0 10px 30px;
  border: 2px solid;
  border-radius: 6px;
}