.container {
  width: 100vw;
  height: 90px;
  background-color: #4E9F3D;

  display: flex;
  align-items: center;
  justify-content: space-between;

  font-family: 'Berkshire Swash', cursive;
  color: #D8E9A8;
}

.logo {
  margin-left: 20px;
}

.link {
  text-decoration: none;
  color: #D8E9A8;
}

.nav {
  margin-right: 20px;
  list-style: none;
}

.nav li {
  cursor: pointer;
}