<div class="login-container">
  <h1 class="title">The Shire</h1>
  <div class="explanation">
    <p>
      Ao me logar, aceito os
      <a href="" target="_blank" class="form-link">Termos de uso</a>
      e
      <a href="" target="_blank" class="form-link">Política de privacidade</a>
      , receber comunicações do The Shire e afirmo ter 18 anos ou mais.
    </p>
  </div>
  <div class="forms-container">
    <form id="facebook-form" action="" method="POST">
      <button type="submit" class="btn-facebook">
        Entrar com Facebook
      </button>
    </form>
    <form id="google-form" action="" method="POST">
      <button type="button" class="btn-google">
        Entrar com Google
      </button>
    </form>
  </div>
</div>