<div>
  <LoginHeader />
  <form @submit.prevent="register" class="container-form">
    <p class="explanation">
      <span class="explanation-divisor">Ou cadastre com seu e-mail</span>
    </p>
    <!-- <div class="custom-input__wrapper">
      <label>Nome e sobrenome</label>
      <input
        type="text"
        class="custom-input__input"
        required
        v-model="username"
      />
    </div> -->
    <div class="custom-input__wrapper">
      <label>E-mail</label>
      <input
        type="text"
        class="custom-input__input"
        required
        v-model="email"
      />
    </div>
    <div class="custom-input__wrapper">
      <label>Senha (mínimo 8 caracteres)</label>
      <input
        type="password"
        class="custom-input__input"
        required
        minlength="8"
        v-model="password"
      />
    </div>
    <!-- <div class="custom-input__wrapper">
      <label>Telefone (opcional)</label>
      <input
        type="text"
        class="custom-input__input"
        maxlength="15"
        v-model="phone"
      />
    </div> -->
    <button type="submit" class="btn-primary">
      <span class="btn-text">Cadastrar</span>
    </button>
    <div class="explanation">
      <p>
        Já possui uma conta?
        <router-link class="form-link" to="/login">Entre aqui</router-link>
      </p>
    </div>
  </form>
  </div>
</section>